.music-player {
  width: 500px;
  margin: 0 auto;
  height: 290px;
  background-color: black;

    .upper-controller,
    .bottom-controller {
      width: 100%;
      height: 75%;
      background-color: #e3e3e3;
      position: relative;
      overflow: hidden;
    }

    .upper-controller {
      img.song-thumb {
        width: 100%;
      }
    }

    .song-details {
      position: absolute;
      bottom: 9%;
      left: 4%;

      p {
        margin: 0;
        color: #FFF;
      }

      p.song-artist {
        color: darken($progress-bar-active, 2%);
        text-transform: uppercase;
      }

    }

    .song-timetracker {
      position: absolute;
      bottom: 9%;
      right: 4%;
      color: #FFF;
    }

    .meter {
      width: 100%;
      height: 8px;  /* Can be anything */
      position: absolute;
      bottom: 0;
      background: $progress-bar;
      cursor: pointer;
      & > span {
        display: block;
        height: 8px;
        background-color: $progress-bar-active;
        transition: all .3s ease-in-out;
          &:hover {
            background-color: darken($progress-bar-active, 4%);
          }
      }
    }

  .bottom-controller {
    height: 25%;
    background-color: $player-controller;
    text-align: center;
    .glyphicon {
      color: $glyfhicon-color;
      line-height: 2em;
      font-size: 2.3em;
      letter-spacing: 20px;
      &:hover {
        color: $progress-bar-active;
      }
    }
  }

}
