extends layout

block content
  .container
    .music-player
      .upper-wrapper.cf
        .time-tracker.center 01:45
        img.song-thumb(src="http://lorempixel.com/400/400", alt="Song Thumbnail")
      .bottom-wrapper.cf
        .song-details-panel
          p.title Search Track
        .song-controller.center
          p.glyphicon.glyphicon-backward
          p.glyphicon.glyphicon-play
          p.glyphicon.glyphicon-forward
          .meter
            span(style="width: 15%")

    #player(style="display:none")
