extends layout

block content
  .container
    .music-player
      .upper-controller
        img.song-thumb(src="http://lorempixel.com/400/400", alt="song thumb")
        .song-details
          p.song-artist Coldplay
          p.song-title  The message
        .song-timetracker 1.45
        .meter
          span(style="width: 55%")
      .bottom-controller
        span.glyphicon.glyphicon-step-backward
        span.glyphicon.glyphicon-play
        span.glyphicon.glyphicon-pause.hidden
        span.glyphicon.glyphicon-step-forward

    #player(style="display:none")
