doctype html
html
  head
    title Voice Player
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/main.css')
    script(src='/js/bundle.js')
  body
    block content
