doctype html
html
  head
    title Voice Player
    link(rel='stylesheet', href='/css/main.css')
    script(src='/js/vendor/jquery-2.1.0.min.js')
    script(src='/js/main.js')
  body
    block content
