doctype html
html
  head
    title Voice Player
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/main.css')
    script(src='/js/vendor/jquery-2.1.0.min.js')
    script(src='/js/main.js')
  body
    block content
